
# Diego Isaac Jim√©nes Baroja

In [1739]:
# # Importamos librerias que usaremos

import pandas as pd

In [1740]:
# Cargamos las bases de datos

df_zip = pd.read_csv("zips_practica.csv")
df_spoty = pd.read_csv("spotify_practica.csv")

C:\Users\i_die\AppData\Local\Temp\ipykernel_3324\330275490.py:4: DtypeWarning: Columns (18,19) have mixed types. Specify dtype option on import or set low_memory=False.
  df_spoty = pd.read_csv("spotify_practica.csv")

**a) Etiquetado de varibales**

In [1741]:
# Observamos de que tratan las columnas para poder clasificarlas
df_zip.columns

Index(['zip', 'lat', 'lng', 'city', 'state_id', 'state_name', 'zcta',
       'parent_zcta', 'population', 'density', 'county_fips', 'county_name',
       'county_weights', 'county_names_all', 'county_fips_all', 'imprecise',
       'military', 'timezone', 'c_lng'],
      dtype='object')

In [1742]:
# Empezamos el clasificado y el renombramiento de las columnas

continuas = ['lat', 'lng', 'population', 'density', 'county_weights', 'c_lng']
discretas = ['zip', 'state_id', 'zcta', 'parent_zcta', 'county_fips', 'county_fips_all', 'military']
texto = ['city', 'state_name', 'county_name', 'county_names_all', 'imprecise', 'timezone']

c_feats_new = ["c_" + x for x in continuas]
d_feats_new = ["d_" + x for x in discretas]
t_feats_new = ["t_" + x for x in texto]

# Renombramos las columnas

df_zip.rename(columns = dict(zip(continuas, c_feats_new)), inplace = True)
df_zip.rename(columns = dict(zip(discretas, d_feats_new)), inplace = True)
df_zip.rename(columns = dict(zip(texto, t_feats_new)), inplace = True)

In [1743]:
# Vemos como se ven ahora

df_zip.columns

Index(['d_zip', 'c_lat', 'c_lng', 't_city', 'd_state_id', 't_state_name',
       'd_zcta', 'd_parent_zcta', 'c_population', 'c_density', 'd_county_fips',
       't_county_name', 'c_county_weights', 't_county_names_all',
       'd_county_fips_all', 't_imprecise', 'd_military', 't_timezone',
       'c_c_lng'],
      dtype='object')

**Analogo para df_spoty**

In [1744]:
df_spoty.columns

Index(['acousticness', 'artists', 'danceability', 'duration_ms', 'energy',
       'explicit', 'id', 'instrumentalness', 'key', 'liveness', 'loudness',
       'mode', 'name', 'popularity', 'release_date', 'speechiness', 'tempo',
       'valence', 'zip Code', 'genero'],
      dtype='object')

In [1745]:
continuas = ['acousticness', 'danceability', 'duration_ms', 'energy', 'instrumentalness', 'liveness', 'loudness', 'speechiness', 'tempo', 'valence']
discretas = ['explicit', 'key', 'mode', 'popularity', 'zip Code']
texto = ['artists', 'id', 'name', 'genero']
fecha = ['release_date']

c_feats_new = ["c_" + x for x in continuas]
d_feats_new = ["d_" + x for x in discretas]
t_feats_new = ["t_" + x for x in texto]
f_feats_new = ["f_" + x for x in fecha]

# Renombramos las columnas

df_spoty.rename(columns = dict(zip(continuas, c_feats_new)), inplace = True)
df_spoty.rename(columns = dict(zip(discretas, d_feats_new)), inplace = True)
df_spoty.rename(columns = dict(zip(texto, t_feats_new)), inplace = True)
df_spoty.rename(columns = dict(zip(fecha, f_feats_new)), inplace = True)

In [1746]:
df_spoty.columns

Index(['c_acousticness', 't_artists', 'c_danceability', 'c_duration_ms',
       'c_energy', 'd_explicit', 't_id', 'c_instrumentalness', 'd_key',
       'c_liveness', 'c_loudness', 'd_mode', 't_name', 'd_popularity',
       'f_release_date', 'c_speechiness', 'c_tempo', 'c_valence', 'd_zip Code',
       't_genero'],
      dtype='object')

**b) Eliminar valores duplicados**

In [1747]:
# Verificamos si hay valores duplicados para ZIP
df_zip.duplicated().sum()

0

In [1748]:
# Verificamos si hay valores duplicados para Spoty
df_spoty.duplicated().sum()

364

In [1749]:
# Eliminamos duplicados para el dataframe de Spoty

df_spoty.drop_duplicates(inplace = True)

# Vemos si sigue habiendo valores duplicados despues de haber eliminado

df_spoty.duplicated().sum()

0

**c) Completitud de variables**

In [1750]:
# Veamos los valores que no esten completos

df_zip.isnull()

,d_zip,c_lat,c_lng,t_city,d_state_id,t_state_name,d_zcta,d_parent_zcta,c_population,c_density,d_county_fips,t_county_name,c_county_weights,t_county_names_all,d_county_fips_all,t_imprecise,d_military,t_timezone,c_c_lng
0,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,True
3,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,True
4,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33094,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,True
33095,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,True
33096,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,True
33097,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,True
33098,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,True

In [1751]:
# Mostramos la cantidad de datos faltantes para cada columna
completitud = pd.DataFrame(df_zip.isnull().sum())

In [1752]:
# Cambiamos los nombres de la tabla
completitud = completitud.rename(columns = {'index':'columna',0:'total'})
# Calculamos el porcentaje de completitud que representa los datos
completitud["completitud"] =  (1 - completitud['total'] / df_zip.shape[0]) * 100 
# Ordenamos los valores de completitud de orden ascendente
completitud = completitud.sort_values(by = "completitud", ascending = True)
# Imprimimos
completitud

                    total  completitud
d_parent_zcta       33099     0.000000
c_c_lng             33094     0.015106
d_military              0   100.000000
t_imprecise             0   100.000000
d_county_fips_all       0   100.000000
t_county_names_all      0   100.000000
c_county_weights        0   100.000000
t_county_name           0   100.000000
d_county_fips           0   100.000000
d_zip                   0   100.000000
c_population            0   100.000000
d_zcta                  0   100.000000
t_state_name            0   100.000000
d_state_id              0   100.000000
t_city                  0   100.000000
c_lng                   0   100.000000
c_lat                   0   100.000000
t_timezone              0   100.000000
c_density               0   100.000000

**Analogo para el dataframe de Spotify**

In [1753]:
# Veamos los valores que no esten completos

df_spoty.isnull()

,c_acousticness,t_artists,c_danceability,c_duration_ms,c_energy,d_explicit,t_id,c_instrumentalness,d_key,c_liveness,c_loudness,d_mode,t_name,d_popularity,f_release_date,c_speechiness,c_tempo,c_valence,d_zip Code,t_genero
0,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,True,False,False,True,False,False,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
3,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,True
4,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170344,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
170345,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
170346,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
170347,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False
170348,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [1754]:

completitud_s = pd.DataFrame(df_spoty.isnull().sum())
# Cambiamos los nombres de las anteriores tabla 0 el total
completitud_s = completitud_s.rename(columns = {'index':'columna',0:'total'})
# Calculamos el porcentaje de completitud que representa los datos
completitud_s["completitud"] =  (1 - completitud_s['total'] / df_spoty.shape[0]) * 100 
# Ordenamos los valores de completitud de orden ascendente
completitud_s = completitud_s.sort_values(by = "completitud", ascending = True)
# Imprimimos
completitud_s

                    total  completitud
d_explicit          62905    62.993794
d_key               35759    78.963438
d_popularity         3501    97.940407
t_genero             1698    99.001088
c_valence               0   100.000000
c_tempo                 0   100.000000
c_speechiness           0   100.000000
f_release_date          0   100.000000
t_name                  0   100.000000
d_mode                  0   100.000000
c_acousticness          0   100.000000
d_zip Code              0   100.000000
c_instrumentalness      0   100.000000
t_id                    0   100.000000
c_energy                0   100.000000
c_duration_ms           0   100.000000
c_danceability          0   100.000000
t_artists               0   100.000000
c_loudness              0   100.000000
c_liveness              0   100.000000

**d) Eliminar columnas que tengan menos a los mas 20% de datos ausentes**

In [1755]:
df_zip.drop(columns = ['d_parent_zcta','c_c_lng'], inplace=True)
df_spoty.drop(columns = ['d_explicit', 'd_key'], inplace=True )

### Limpieza de valores

In [1756]:
import unicodedata
import re

def clean_text(text, pattern="[^a-zA-Z0-9 ]"):   
    cleaned_text = unicodedata.normalize('NFD', text).encode('ascii', 'ignore')
    cleaned_text = re.sub(pattern, " ", cleaned_text.decode("utf-8"), flags=re.UNICODE)
    cleaned_text = u' '.join(cleaned_text.lower().strip().split())
    return cleaned_text

In [1757]:
# Vemos los datos antes de la limpieza.
df_spoty.shape

(169985, 18)

**e) Cantidad de registros en la variable "zip Code" no validos**

In [1758]:
# Usamos una expresi√≥n regular para encontrar cualquier valor que contenga letras
valores_con_letras = df_spoty['d_zip Code'].str.contains('[a-zA-Z]', na=False)

# Contamos cu√°ntos valores tienen letras
cantidad_con_letras = valores_con_letras.sum()

# Imprimimos
cantidad_con_letras

4341

**f) Eliminamos registros no validos de la columna "zip Code"**

In [1759]:
# Filtramos los valores que NO contienen letras
df_spoty = df_spoty[~df_spoty['d_zip Code'].str.contains('[a-zA-Z]', na=False)]

# Verificamos la cantidad de registros despu√©s de eliminar los valores con letras
df_spoty.shape

(165644, 18)

In [1760]:
df_spoty['d_zip Code']

24        13126
25        14223
26        84620
27        22824
28        27519
          ...
168607    45830
168608    55814
168609    77564
168610    15082
168611    57472
Name: d_zip Code, Length: 165644, dtype: object

**g) ¬øCu√°ntos de los registros en la variable ‚Äúgenero‚Äù son valores no validos?**

In [1761]:
# Analogo con zip Code haremos lo mismo. 

# Vemos los datos antes de la limpieza.
df_spoty.shape

(165644, 18)

In [1762]:
# Aseguramos que todos los valores en 't_genero' sean cadenas de texto
df_spoty['t_genero'] = df_spoty['t_genero'].astype(str)

# Usamos una expresi√≥n regular para encontrar cualquier valor que contenga letras
valores_con_letras_g = df_spoty['t_genero'].str.contains(r'[a-zA-Z]', na=False)

# Contamos cu√°ntos valores contienen letras
cantidad_con_letras_g = valores_con_letras_g.sum()

cantidad_con_letras_g

1650

In [1763]:
df_spoty['t_genero'].value_counts()

47.0                      32980
20.0                      30270
50.0                      24401
12.0                      22103
16.0                      21910
21.0                      21733
30.0                       3232
49.0                       3193
48.0                       3117
nan                        1642
3.0                         532
2.0                         351
1.0                         170
–•–µ–º–∏–Ω–≥—É—ç–π                     1
–ß–∞—Å—Ç—å 2.3 & –ß–∞—Å—Ç—å 3.1         1
6L63VW0PibdM1HDSBoqnoM        1
6N6tiFZ9vLTSOIxkj8qKrd        1
Polonaise                     1
Fantasiest√ºcke                1
2Woitschach                   1
Cristian                      1
Bebamos Juntos                1
3. Sure                       1
Name: t_genero, dtype: int64

**h) Eliminamos registros no validos de la columna "genero"**

In [1764]:
# Filtramos los valores que NO contienen letras
df_spoty = df_spoty[~df_spoty['t_genero'].str.contains('[a-zA-Z]', na=False)]

# Verificamos la cantidad de registros despu√©s de eliminar los valores con letras
df_spoty.shape

(163994, 18)

In [1765]:
df_spoty['t_genero']

31        –ß–∞—Å—Ç—å 2.3 & –ß–∞—Å—Ç—å 3.1
1685                  –•–µ–º–∏–Ω–≥—É—ç–π
3927                       47.0
3928                       20.0
3929                       50.0
                  ...
168607                     12.0
168608                     16.0
168609                     20.0
168610                     20.0
168611                     12.0
Name: t_genero, Length: 163994, dtype: object

In [1766]:
# Notemos que hay valores NaN, asi que los borraremos con dropna que sirve para eliminar las columnas filas NaN
# Eliminar los valores NaN en la columna 't_genero'
df_spoty = df_spoty.dropna(subset=['t_genero'])

df_spoty['t_genero']

31        –ß–∞—Å—Ç—å 2.3 & –ß–∞—Å—Ç—å 3.1
1685                  –•–µ–º–∏–Ω–≥—É—ç–π
3927                       47.0
3928                       20.0
3929                       50.0
                  ...
168607                     12.0
168608                     16.0
168609                     20.0
168610                     20.0
168611                     12.0
Name: t_genero, Length: 163994, dtype: object

**i) Normalizamos la variable "name"**

In [1767]:
df_spoty['t_name'].value_counts()

Summertime                                           60
Home                                                 39
Overture                                             39
You                                                  33
Stay                                                 32
                                                     ..
Tres D√≠as De Carnaval                                 1
Ya No Te Quiero                                       1
Evelyn, A Modified Dog                                1
Happily Married Man                                   1
Symphony No. 1, Op. 9: IV. Con moto (Passacaglia)     1
Name: t_name, Length: 128791, dtype: int64

In [1768]:
df_spoty['t_name'] = df_spoty['t_name'].map(lambda x:clean_text(x))

In [1769]:
df_spoty['t_name'].value_counts()

                                              1736
summertime                                      61
home                                            40
overture                                        39
stay                                            34
                                              ...
make love to your mind                           1
song of the soul                                 1
nighthawk postcards from easy street             1
hank and lefty 2003 remaster                     1
symphony no 1 op 9 iv con moto passacaglia       1
Name: t_name, Length: 122350, dtype: int64

**j) De la variable ‚Äúartista‚Äù selecciona solo al primer artista que aparezca en la lista 
adem√°s de eliminar caracteres especiales**

In [1770]:
# Vemmos como esta antes de la limpieza
df_spoty['t_artists'].value_counts()

['–≠—Ä–Ω–µ—Å—Ç –•–µ–º–∏–Ω–≥—É—ç–π']                                                        1168
['Francisco Canaro']                                                         938
['–≠—Ä–∏—Ö –ú–∞—Ä–∏—è –†–µ–º–∞—Ä–∫']                                                        750
['Ignacio Corsini']                                                          616
['Frank Sinatra']                                                            562
                                                                            ...
['Neelamma Kadamby']                                                           1
['Irving Berlin', 'Eddie Albert', 'Mary McCarty', 'Jay Blackton']              1
['Libero Bovio', 'Mario Lanza', 'Franco Ferrara']                              1
['Swastika Mukherjee']                                                         1
['Kakkia Mendri', 'Lidia Likiardopoulou', '2014 ATHINAIKI DISCOGRAFIKI']       1
Name: t_artists, Length: 32804, dtype: int64

In [1771]:
# Para cada valor x de la columna, se utiliza el metodo split(','), 
# que divide la cadena en una lista de elementos, usando la coma como delimitador.
# [0] selecciona el primer elemento de esa lista, que corresponde al primer artista.

df_spoty['t_artists_clean'] = df_spoty['t_artists'].apply(lambda x: clean_text(x.split(',')[0]))

# Veamos como queda despues de la limpieza
df_spoty['t_artists_clean'].value_counts()

                           3007
francisco canaro           2226
frederic chopin            1008
ludwig van beethoven        894
wolfgang amadeus mozart     893
                           ...
charm city devils             1
blue kid                      1
pogo                          1
riff raff                     1
marcelle bordas               1
Name: t_artists_clean, Length: 19193, dtype: int64

**k) Normaliza la variable ‚Äúgenero‚Äù de tal forma que obtengas solo 10 categor√≠as**

In [1772]:
# Lista de valores que deseas eliminar
valores_a_eliminar = ['–ß–∞—Å—Ç—å 2.3 & –ß–∞—Å—Ç—å 3.1', '–•–µ–º–∏–Ω–≥—É—ç–π']

# Filtrar el DataFrame para que no contenga esas filas
df_spoty = df_spoty[~df_spoty['t_genero'].isin(valores_a_eliminar)]

In [1773]:
normaliza_g = df_spoty['t_genero'].value_counts().reset_index()

normaliza_g = normaliza_g.rename(columns={'index': 'genero', 't_genero': 'total'})

normaliza_g = normaliza_g.sort_values(by = "total", ascending = True)

normaliza_g

   genero  total
11    1.0    170
10    2.0    351
9     3.0    532
8    48.0   3117
7    49.0   3193
6    30.0   3232
5    21.0  21733
4    16.0  21910
3    12.0  22103
2    50.0  24401
1    20.0  30270
0    47.0  32980

In [1774]:
df_spoty['t_genero'] = df_spoty['t_genero'].replace({"1.0":"Menor que 3"})
df_spoty['t_genero'] = df_spoty['t_genero'].replace({"2.0":"Menor que 3"})

In [1775]:
df_spoty['t_genero'].value_counts()

47.0           32980
20.0           30270
50.0           24401
12.0           22103
16.0           21910
21.0           21733
30.0            3232
49.0            3193
48.0            3117
3.0              532
Menor que 3      521
Name: t_genero, dtype: int64

**l) A√±adimos las siguientes columnas a tu table base: zip, lat, lng, city, state_name**

In [1776]:
# Selecciona las columnas correctas de df_zip
df_zip_seleccion = df_zip[['d_zip', 'c_lat', 'c_lng', 't_city', 't_state_name']]

# Realiza el merge usando las columnas de coincidencia (zip Code en df_spoty y d_zip en df_zip)
df_spoty = df_spoty.merge(df_zip_seleccion, left_on='d_zip Code', right_on='d_zip', how='left')

# Eliminamos la columna 'd_zip' 
df_spoty = df_spoty.drop(columns=['d_zip'])

# Revisamos las columnas que hay en el df. 
df_spoty.columns

Index(['c_acousticness', 't_artists', 'c_danceability', 'c_duration_ms',
       'c_energy', 't_id', 'c_instrumentalness', 'c_liveness', 'c_loudness',
       'd_mode', 't_name', 'd_popularity', 'f_release_date', 'c_speechiness',
       'c_tempo', 'c_valence', 'd_zip Code', 't_genero', 't_artists_clean',
       'c_lat', 'c_lng', 't_city', 't_state_name'],
      dtype='object')

**m) Convierte las variables ‚Äúlat‚Äù y ‚Äúlng‚Äù en tipo flotante y valida que la informaci√≥n 
sea consistente**

In [1777]:
print(df_spoty['c_lat'].value_counts())

print(df_spoty['c_lng'].value_counts())

41.67465    18
32.98404    16
39.98485    16
34.56410    16
39.97599    16
            ..
45.08652     1
41.55916     1
45.05455     1
33.42521     1
40.58730     1
Name: c_lat, Length: 32125, dtype: int64
-84.01541     16
-89.03123     15
-77.04166     15
-93.68698     15
-111.83123    14
              ..
-75.17078      1
-90.63870      1
-74.17961      1
-123.06229     1
-79.78068      1
Name: c_lng, Length: 32323, dtype: int64

In [1778]:
# Convertimos de tipo flotante. 

df_spoty['c_lat'] = df_spoty['c_lat'].astype(float)
df_spoty['c_lng'] = df_spoty['c_lng'].astype(float)

Notemos que lat y lng se trata de la latitud y la longitud, para que sea informacion consistente debemos considerar que la informaicion 
* Latitud debe estar en el rango de -90 a 90 grados.
* Longitud debe estar en el rango de -180 a 180 grados. Si encuentras valores fuera de estos rangos, podr√≠an ser err√≥neos o necesitar correcci√≥n.
* 2 decimales: precisi√≥n de alrededor de 1 km.
* 6 decimales: precisi√≥n de alrededor de 10 cm.

In [1779]:
# Buscamos los registros que no esten en el rango de lo que seria consistente tanto para longitud como para latitud.
invalid_lat = df_spoty[(df_spoty['c_lat'] < -90) | (df_spoty['c_lat'] > 90)]
invalid_lng = df_spoty[(df_spoty['c_lng'] < -180) | (df_spoty['c_lng'] > 180)]

print(f"Coordenadas con latitud fuera de rango: {len(invalid_lat)}")
print(f"Coordenadas con longitud fuera de rango: {len(invalid_lng)}")

Coordenadas con latitud fuera de rango: 0
Coordenadas con longitud fuera de rango: 124

In [1780]:
df_spoty = df_spoty[(df_spoty['c_lat'] >= -90) & (df_spoty['c_lat'] <= 90) & (df_spoty['c_lng'] >= -180) & (df_spoty['c_lng'] <= 180)]

In [1781]:
# Recalculamos los registros inv√°lidos despu√©s del filtrado
invalid_lat = df_spoty[(df_spoty['c_lat'] < -90) | (df_spoty['c_lat'] > 90)]
invalid_lng = df_spoty[(df_spoty['c_lng'] < -180) | (df_spoty['c_lng'] > 180)]

# Revisamos nuevamente
print(f"Coordenadas con latitud fuera de rango: {len(invalid_lat)}")
print(f"Coordenadas con longitud fuera de rango: {len(invalid_lng)}")

Coordenadas con latitud fuera de rango: 0
Coordenadas con longitud fuera de rango: 0

**n) Eliminar digitos de las variable ‚Äúcity‚Äù y ‚Äústate‚Äù**

In [1782]:
# Vemos como estan los valores
print(df_spoty['t_city'].value_counts())
print(df_spoty['t_state_name'].value_counts())

Dah974lonega       16
Pauld58ing         15
Miam197i           14
Chan229dler        14
Byro693n           14
                   ..
Philad744elphia     1
334Millston         1
Lilliwa43up         1
Sta25ten Island     1
Creigh946ton        1
Name: t_city, Length: 32424, dtype: int64
Il500linois        22
Ill783inois        20
Tex601as           19
M801ichigan        18
I12owa             18
                   ..
Missou241ri         1
Mi899nnesota        1
Texa636s            1
Ok308lahoma         1
212Pennsylvania     1
Name: t_state_name, Length: 30582, dtype: int64

In [1783]:
# Modificamos la funcion clean_text para que solo elimine numeros.
def clean_text_digit(text, pattern="[^a-zA-Z ]"):   
    # Eliminamos los n√∫meros y otros caracteres no deseados
    cleaned_text = re.sub(pattern, " ", text)
    # Eliminar espacios m√∫ltiples y recortar los espacios
    cleaned_text = ' '.join(cleaned_text.split())
    return cleaned_text

In [1784]:
# Aplicamos la funcion
df_spoty['t_city'] = df_spoty['t_city'].map(lambda x:clean_text_digit(x))
df_spoty['t_state_name'] = df_spoty['t_state_name'].map(lambda x:clean_text_digit(x))

In [1785]:
# Vemos como estan ahora
print(df_spoty['t_city'].value_counts())
print(df_spoty['t_state_name'].value_counts())

New York             103
Kansas City           92
Ho uston              74
Mia mi                74
Los Angeles           71
                    ...
M arshall              1
Frankli n Springs      1
Ja mul                 1
Clariss a              1
Creigh ton             1
Name: t_city, Length: 25462, dtype: int64
New York                 2602
Texas                    1621
T exas                   1585
Tex as                   1550
Texa s                   1417
                         ...
Di strict of Columbia       6
Distric t of Columbia       6
Dis trict of Columbia       5
District of Columbi a       3
D istrict of Columbia       2
Name: t_state_name, Length: 426, dtype: int64

**o) Crea una nueva variable llamada ‚Äústate‚Äù que este conformada por ‚Äúcity‚Äù,‚Äùstate_name‚Äù**

In [1786]:
# Creamos la nueva columna 'state' combinando 't_city' y 't_state_name'
df_spoty['t_state'] = df_spoty['t_city'] + ", " + df_spoty['t_state_name']

# Verificar el resultado
print(df_spoty[['t_city', 't_state_name', 't_state']].head())

             t_city t_state_name                  t_state
28841       Dras co    Arka nsas       Dras co, Arka nsas
28842  Ballston Spa    New Yor k  Ballston Spa, New Yor k
28843        Star t   Louis iana       Star t, Louis iana
28844        R olfe        I owa            R olfe, I owa
28845      Al berta   Minnesot a     Al berta, Minnesot a

**p) Los valores de la nueva variable ‚Äústate‚Äù modificalos de cierta forma que todas sean min√∫sculas y sin acentos**

In [1787]:
# Aplicamos la funcion para la limpieza de datos
df_spoty['t_state'] = df_spoty['t_state'].map(lambda x:clean_text(x))

# Verificar el resultado
print(df_spoty['t_state'].head())

28841         dras co arka nsas
28842    ballston spa new yor k
28843         star t louis iana
28844              r olfe i owa
28845       al berta minnesot a
Name: t_state, dtype: object

**q) Convierte los valores en la variable ‚Äúrelease_date‚Äù a tipo datetime, adem√°s haz el 
conteo de las que no tienen la estructura necesaria para ser convertidda en datetime 
y elimina ese registro**

In [1788]:
# Vemos como estan los valores
df_spoty['f_release_date'].value_counts()

1963-08-14 00:00:00    16
2002-05-09 00:00:00    16
1966-11-18 00:00:00    15
2006-04-20 00:00:00    15
1978-03-05 00:00:00    15
                       ..
1924-01-16 00:00:00     1
1934-04-25 00:00:00     1
1934-04-10 00:00:00     1
1934-10-21 00:00:00     1
1922-06-26 00:00:00     1
Name: f_release_date, Length: 28231, dtype: int64

In [1789]:
# Cambiamos el tipo de dato
df_spoty['f_release_date'] = pd.to_datetime(df_spoty['f_release_date'])

In [1790]:
df_spoty['f_release_date'].value_counts()

# Parte 2

**a) Obten un DataFrame donde se muestre el conteo de registros por g√©nero**

In [1794]:
# Obtener el conteo de registros por g√©nero
conteo_genero = df_spoty['t_genero'].value_counts().reset_index()

# Renombrar las columnas para mayor claridad
conteo_genero.columns = ['Genero', 'Conteo']

# Ver el DataFrame resultante
conteo_genero

         Genero  Conteo
0          47.0   26347
1          20.0   24127
2          50.0   19522
3          12.0   17757
4          16.0   17501
5          21.0   17242
6          30.0    2566
7          49.0    2556
8          48.0    2478
9           3.0     433
10  Menor que 3     419

**b) Genera una nueva variable que se llame ‚Äúduration_minutos‚Äù que sea el valor de la 
variable ‚Äúduration_ms‚Äù en minutos**

In [1796]:
# Creamos la nueva columna 'duration_minutos' a partir de 'c_duration_ms'
df_spoty['duration_minutos'] = df_spoty['c_duration_ms'] / 60000

# Verificar el resultado
df_spoty[['c_duration_ms', 'duration_minutos']].head()

       c_duration_ms  duration_minutos
28841         150640          2.510667
28842         316893          5.281550
28843         165253          2.754217
28844         162933          2.715550
28845         195200          3.253333

**c) ¬øCu√°les son las 10 canciones m√°s populares?**

In [1797]:
# Ordenar el DataFrame por la columna 'd_popularity' en orden descendente
top_10_canciones = df_spoty[['t_name', 'd_popularity']].sort_values(by='d_popularity', ascending=False).head(10)

# Ver el resultado
print(top_10_canciones)

                                                t_name  d_popularity
82520                                  blinding lights         100.0
82518                        rockstar feat roddy ricch          99.0
82527  death bed coffee for your head feat beabadoobee          97.0
82519                                       the scotts          96.0
82524                                     toosie slide          95.0
82431                  ily i love you baby feat emilee          95.0
82423                                       supalonely          95.0
82419                                          the box          95.0
82437                                     dance monkey          94.0
82530                    rain on me with ariana grande          94.0

**d) ¬øCu√°l es el promedio de duraci√≥n en minutos y milisegundos?**

In [1799]:
# Calcular el promedio de duraci√≥n en milisegundos
promedio_ms = df_spoty['c_duration_ms'].mean()

# Calcular el promedio de duraci√≥n en minutos
promedio_minutos = df_spoty['duration_minutos'].mean()

# Mostrar los resultados
print(f"Promedio de duraci√≥n en milisegundos: {promedio_ms}")
print(f"Promedio de duraci√≥n en minutos: {promedio_minutos}")

Promedio de duraci√≥n en milisegundos: 230442.79517823868
Promedio de duraci√≥n en minutos: 3.840713252970645

**e) ¬øCu√°l es el promedio y conteo de ‚Äúenergy‚Äù por ‚Äúgenero‚Äù?**

In [1801]:
# Agrupar por 't_genero' y calcular el promedio y conteo de 'c_energy'
energia_por_genero = df_spoty.groupby('t_genero').agg(
    promedio_energia=('c_energy', 'mean'),
    conteo=('c_energy', 'count')
).reset_index()

# Mostrar el resultado
energia_por_genero

       t_genero  promedio_energia  conteo
0          12.0          0.487448   17757
1          16.0          0.481450   17501
2          20.0          0.484056   24127
3          21.0          0.484000   17242
4           3.0          0.475747     433
5          30.0          0.483483    2566
6          47.0          0.486938   26347
7          48.0          0.487285    2478
8          49.0          0.482688    2556
9          50.0          0.487861   19522
10  Menor que 3          0.474405     419

**f) ¬øQu√© canci√≥n tiene el ‚Äúloudness‚Äù m√°s bajo y cu√°l es la canci√≥n que tiene el ‚Äúloudness‚Äù 
m√°s alto?**

In [1802]:
# Encontrar el valor m√°s bajo de 'c_loudness' y la canci√≥n correspondiente
cancion_loudness_min = df_spoty[df_spoty['c_loudness'] == df_spoty['c_loudness'].min()]

# Encontrar el valor m√°s alto de 'c_loudness' y la canci√≥n correspondiente
cancion_loudness_max = df_spoty[df_spoty['c_loudness'] == df_spoty['c_loudness'].max()]

# Mostrar las canciones con el loudness m√°s bajo y m√°s alto
print("Canci√≥n con el loudness m√°s bajo:")
print(cancion_loudness_min[['t_name', 'c_loudness']])

print("\nCanci√≥n con el loudness m√°s alto:")
print(cancion_loudness_max[['t_name', 'c_loudness']])

Canci√≥n con el loudness m√°s bajo:
                                     t_name  c_loudness
37053                          hava nagilah       -60.0
43568                           pause track       -60.0
55948                          silent track       -60.0
56830                          silent track       -60.0
59419                     my yiddishe momme       -60.0
93538                      pause track live       -60.0
102827                     pause track live       -60.0
131289  staggerlee has his day at the beach       -60.0
139854                          pause track       -60.0

Canci√≥n con el loudness m√°s alto:
       t_name  c_loudness
102626   sold       3.855

**[Extra]Obtenga los 10 percentiles de las variables continuas**

In [1803]:
# Seleccionar solo las columnas continuas (num√©ricas)
variables_continuas = df_spoty.select_dtypes(include=['float64', 'int64'])

# Definir los percentiles que queremos calcular (10 percentiles: del 0% al 100%)
percentiles = [i/10 for i in range(11)]  # [0.0, 0.1, 0.2, ..., 1.0]

# Calcular los percentiles para cada variable continua
percentiles_df = variables_continuas.quantile(percentiles)

# Mostrar el resultado
print(percentiles_df)

     c_acousticness  c_danceability  c_duration_ms  c_energy  \
0.0         0.00000           0.000         5108.0     0.000
0.1         0.00956           0.301       137609.1     0.130
0.2         0.05590           0.386       162107.0     0.219
0.3         0.15300           0.449       178333.0     0.301
0.4         0.30500           0.502       192418.0     0.387
0.5         0.50400           0.550       207440.0     0.476
0.6         0.69600           0.596       226240.0     0.564
0.7         0.83700           0.643       248600.0     0.659
0.8         0.93600           0.696       278800.0     0.754
0.9         0.98400           0.760       334200.0     0.864
1.0         0.99600           0.988      4270034.0     1.000

     c_instrumentalness  c_liveness  c_loudness  d_mode  d_popularity  \
0.0            0.000000      0.0000    -60.0000     0.0           0.0
0.1            0.000000      0.0728    -18.9270     0.0           0.0
0.2            0.000000      0.0912    -15.6520     0.0           5.0
0.3            0.000002      0.1050    -13.5560     1.0          19.0
0.4            0.000021      0.1160    -11.9720     1.0          27.0
0.5            0.000199      0.1350    -10.5340     1.0          34.0
0.6            0.002040      0.1670     -9.1870     1.0          40.0
0.7            0.024000      0.2220     -7.8420     1.0          46.0
0.8            0.290000      0.3040     -6.4980     1.0          52.0
0.9            0.832000      0.4060     -5.0447     1.0          61.0
1.0            1.000000      1.0000      3.8550     1.0         100.0

     c_speechiness   c_tempo  c_valence      c_lat       c_lng  \
0.0         0.0000    0.0000      0.000  17.966120 -176.631390
0.1         0.0301   79.5114      0.163  32.090690 -115.348750
0.2         0.0334   89.1444      0.275  34.337010  -99.619992
0.3         0.0366   97.3380      0.371  36.432830  -95.591830
0.4         0.0403  106.0030      0.465  38.164590  -91.893560
0.5         0.0450  114.7530      0.548  39.505190  -88.191810
0.6         0.0521  122.5740      0.630  40.604520  -84.579070
0.7         0.0646  130.5310      0.711  41.573520  -81.650570
0.8         0.0924  140.9710      0.795  42.763250  -78.295070
0.9         0.1900  161.8340      0.888  44.723016  -74.594860
1.0         0.9690  243.5070      1.000  71.273740  -65.290170

     duration_minutos
0.0          0.085133
0.1          2.293485
0.2          2.701783
0.3          2.972217
0.4          3.206967
0.5          3.457333
0.6          3.770667
0.7          4.143333
0.8          4.646667
0.9          5.570000
1.0         71.167233